alembic==1.0.0
apipkg==1.5
atomicwrites==1.2.1
attrs==18.2.0
bcrypt==3.1.4
blinker==1.4
cffi==1.11.5
click==6.7
coverage==4.5.1
execnet==1.5.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.3.0
pluggy==0.7.1
py==1.6.0
pycparser==2.18
pytest==3.8.0
pytest-forked==0.2
pytest-xdist==1.23.0
python-dateutil==2.7.3
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.2.11
Werkzeug==0.14.1
WTForms==2.2.1
